/** Custom styles */
::selection {
  background: rgba(118, 215, 254, 0.2);
}

.header-bar {
  border-top: 0px;
  border-image-source: none;
  border-image-slice: 0;
}

.home h1 {
  font-size: calc(1.625rem + 1.3vw);
}

.alert {
  font-family: $font-family-base;
  font-size: $font-size-base;
}

li {
  padding: 4px 0;
}

.video-media-youtube-inner {
  display: flex;
}

.video-media-youtube-inner-vi01 {
  flex: 1;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 20px;
}

.video-media-youtube-inner-vi01 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
